*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: Gilroy;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
}
#left{
    width: 70%;
    height: 100%;
}
#right{
    width:30%;
    height: 100%;
    background-color: rgb(226, 235, 255);
}
#nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    padding: 0px 30px;
    z-index: 2;
}
#nav a:hover{
    border-bottom: 1px solid black;
}
#left_nav{
    display: flex;
    align-items: center;
    height: 50px;
}
#left_nav a{
    text-decoration: none;
    color: #777;
    margin-left: 55px;
    font-weight: 400;
    font-size: 14px;
}
#nav h1{
    letter-spacing: -5px;
    font-weight: 900;
}
#right_nav{
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
#right_nav a{
    margin-right: 50px;
    text-decoration: none;
    color: #777;
    font-weight: 400;
    font-size: 14px;
}
#right_nav i{
    margin-left: 15px;
    font-size: 20px;
}
#right_nav i:nth-child(3){
    margin-left: 70px;
}
#left img{
    position: relative;
    height: 80%;
    margin-top: 14.1%;
    right: 13%;
}
#left{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
#text_box{
    margin-top: 18%;
    width: 27%;
    margin-left: 10%;
}
#left h1{
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 2%;
}
#left #text_box p{
    color: #777;
    font-family: 100;
    opacity: 0.8;
}
.row{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.elm1{ 
    width: 40%;
}
.upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lower{
    margin-top: 5%;
    background-color: rgb(229, 239, 248);
    width: 100%;
    height: 10px;
}
.prg{
    width: 70%;
    height: 10px;
    background-color: rgb(210, 207, 228);
}
.row .upper h5:nth-child(2){
    color:#888;
}
.spn{
  color: black;
  font-size: 18px;  
}
#block{
    position: absolute;
    right: 0%;
    top: 17%;
    height: 40%;
    width: 18%;
    background-color: rgb(234, 240, 255);
    padding: 20px 25px;
}
#block img{
    height: 60%;
    margin-top: 20%;
    margin-left: 35%; 
}
#right_year{
    position: absolute;
    transform-origin: bottom left;
    transform: rotate(90deg);
    margin-top: 23%;
    margin-left: 1%;
    font-size: 40px;
    color: #999;
}
#right_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 68%;
    left: 80%;
    width: 10%;
    
}
#right_pgr{
    width: 70%;
    height: 6px;
    background-color: rgb(222, 217, 226);
    border-radius: 100px;
}
#act_pgr{
    width: 30%;
    height: 5px;
    background-color: rgb(167, 167, 167);
}
#right_bottom{
    position: absolute;
    bottom: 0%;
    width: 30%;
    height: 200px;
    background-image: url("https://images.unsplash.com/photo-1627482218666-603a02eafdb9?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: cover; 
}
#btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#col{
    height: 100%;
    width: 20%;
    margin-left: -10%;
    color: white;
    font-size: 24px;
}
.col_boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: rgb(190, 176, 176);
}
.col_boxes:nth-child(2){
    background-color:rgb(54, 54, 54);
}